:root {
  --max-width: 1100px;
  --border-radius: 27px;
  --primary-color-rgba: rgba(0, 10, 255, 1);
  --accent-color-rgba: rgba(101, 255, 142, 1);
  --background-color-rgba: rgba(255, 0, 245, 0.05);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}